/*.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1000; !* Adjust z-index as needed *!
  !*background-color: white; !* Adjust background color as needed *!*!
  !*padding: 10px 20px; !* Adjust padding as needed *!*!
  !*display: flex;*!
  !*justify-content: space-between;*!
  !*align-items: center;*!
  !*border-bottom: 1px*!
  !*solid #ccc; !* Add border as needed *!*!
}

.navbar-container.sticky {
  position: fixed;
  width: 100%;
}*/


@media screen and (max-width: 400px) {
    .media-small {
        font-size: 12px;
    }
}
